# انسخ هذا الملف إلى keystore.properties واملأ القيم
# DO NOT COMMIT keystore.properties to git!
storeFile=hn-driver-release.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=hn-driver
keyPassword=YOUR_KEY_PASSWORD
